In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
manzanas = gpd.read_file("/mnt/d/minsalud/si_risaralda/vector/mnz_rsrld.shp")
manzanas.head()

,COD_DANE_A,DPTO_CCDGO,MPIO_CCDGO,MPIO_CDPMP,CLAS_CCDGO,SETR_CCDGO,SETR_CCNCT,SECR_CCDGO,SECR_CCNCT,ZU_CCDGO,...,TP51SUPERI,TP51POSTGR,TP51_13_ED,TP51_99_ED,CD_LC_CM,NMB_LC_CM,TP_LC_CM,Shape_Leng,Shape_Area,geometry
0,6600110000000001010101,66,001,66001,1,000,660011000,00,66001100000,000,...,9.0,1.0,0.0,0.0,03,CENTRO,Comuna,0.004068,3.258500e-07,"POLYGON ((-75.7179 4.81576, -75.71794 4.81578,..."
1,6600110000000001010102,66,001,66001,1,000,660011000,00,66001100000,000,...,0.0,0.0,0.0,0.0,03,CENTRO,Comuna,0.001601,1.448400e-07,"POLYGON ((-75.71658 4.81591, -75.7166 4.81591,..."
2,6600110000000001010103,66,001,66001,1,000,660011000,00,66001100000,000,...,0.0,0.0,0.0,0.0,03,CENTRO,Comuna,0.001960,2.215800e-07,"POLYGON ((-75.7153 4.816, -75.71532 4.81598, -..."
3,6600110000000001010104,66,001,66001,1,000,660011000,00,66001100000,000,...,0.0,0.0,0.0,0.0,03,CENTRO,Comuna,0.001564,1.520800e-07,"POLYGON ((-75.7147 4.8161, -75.71471 4.81594, ..."
4,6600110000000001010105,66,001,66001,1,000,660011000,00,66001100000,000,...,19.0,5.0,5.0,1.0,03,CENTRO,Comuna,0.007667,2.149740e-06,"POLYGON ((-75.71277 4.816, -75.71285 4.81525, ..."

In [3]:
# Definir columnas mzn-MIV
columnas = [
    'COD_DANE_A', 'DPTO_CCDGO', 'MPIO_CDPMP', 'CLAS_CCDGO', 'DENSIDAD',
    'TP9_1_USO', 'TP9_2_USO', 'TP9_3_USO', 'TP9_4_USO', 'TVIVIENDA',
    'TP14_1_TIP', 'TP14_2_TIP', 'TP16_HOG', 
    'TP19_EE_1', 'TP19_EE_2', 'TP19_ACU_1', 'TP19_ACU_2', 
    'TP19_ALC_1', 'TP19_ALC_2', 'TP19_GAS_1', 'TP19_GAS_2',
    'TP19_RECB1', 'TP19_RECB2', 'TP27_PERSO',
    'TP34_1_EDA', 'TP34_2_EDA', 'TP34_3_EDA', 'TP34_4_EDA', 'TP34_5_EDA',
    'TP34_6_EDA', 'TP34_7_EDA', 'TP34_8_EDA', 'TP34_9_EDA',
    'NMB_LC_CM', 'TP_LC_CM',
    'geometry'
]

# Seleccionar solo esas columnas
mnz_ris_miv = manzanas[columnas]

# Guardar nuevo shapefile
mnz_ris_miv.to_file("/mnt/d/minsalud/si_risaralda/vector/mnz_ris_miv.shp")

In [4]:
mnz_ris_miv = gpd.read_file("/mnt/d/minsalud/si_risaralda/vector/mnz_ris_miv.shp")
mnz_ris_miv.head()

,COD_DANE_A,DPTO_CCDGO,MPIO_CDPMP,CLAS_CCDGO,DENSIDAD,TP9_1_USO,TP9_2_USO,TP9_3_USO,TP9_4_USO,TVIVIENDA,...,TP34_3_EDA,TP34_4_EDA,TP34_5_EDA,TP34_6_EDA,TP34_7_EDA,TP34_8_EDA,TP34_9_EDA,NMB_LC_CM,TP_LC_CM,geometry
0,6600110000000001010101,66,66001,1,0.003750,11.0,0.0,16.0,0.0,11.0,...,6.0,2.0,3.0,2.0,2.0,0.0,0.0,CENTRO,Comuna,"POLYGON ((-75.7179 4.81576, -75.71794 4.81578,..."
1,6600110000000001010102,66,66001,1,0.000000,1.0,0.0,9.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CENTRO,Comuna,"POLYGON ((-75.71658 4.81591, -75.7166 4.81591,..."
2,6600110000000001010103,66,66001,1,0.000000,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CENTRO,Comuna,"POLYGON ((-75.7153 4.816, -75.71532 4.81598, -..."
3,6600110000000001010104,66,66001,1,0.000000,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CENTRO,Comuna,"POLYGON ((-75.7147 4.8161, -75.71471 4.81594, ..."
4,6600110000000001010105,66,66001,1,0.005646,65.0,0.0,16.0,0.0,65.0,...,25.0,13.0,24.0,16.0,19.0,8.0,4.0,CENTRO,Comuna,"POLYGON ((-75.71277 4.816, -75.71285 4.81525, ..."

In [5]:
# Leer la tabla original de datos en un DataFrame
df_viv = pd.read_csv('/mnt/d/minsalud/si_risaralda/ris_cnpv2018/CNPV2018_1VIV_A2_66.CSV')
df_viv.head()

,TIPO_REG,U_DPTO,U_MPIO,UA_CLASE,U_EDIFICA,COD_ENCUESTAS,U_VIVIENDA,UVA_ESTATER,UVA1_TIPOTER,UVA2_CODTER,...,VB_ACU,VC_ALC,VD_GAS,VE_RECBAS,VE1_QSEM,VF_INTERNET,V_TIPO_SERSA,L_TIPO_INST,L_EXISTEHOG,L_TOT_PERL
0,1,66,1,1,1,332764,10,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
1,1,66,1,1,1,380929,6,NaN,NaN,NaN,...,2.0,1.0,2.0,1.0,2.0,2.0,1.0,NaN,NaN,NaN
2,1,66,1,1,1,380962,7,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,NaN,NaN,NaN
3,1,66,1,1,1,448085,9,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
4,1,66,1,1,1,448112,8,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN

In [6]:
# Definir columnas mzn-MIV
columnas = [
    'V_MAT_PARED', 'V_MAT_PISO', 'V_TIPO_SERSA', 'COD_ENCUESTAS'
]

# Seleccionar solo esas columnas
df_viv_miv = df_viv[columnas]

# Guardar nuevo csv
df_viv_miv.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_miv.csv", index=False)

In [7]:
df_viv_miv = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_miv.csv")
df_viv_miv.head()

   V_MAT_PARED  V_MAT_PISO  V_TIPO_SERSA  COD_ENCUESTAS
0          1.0         1.0           1.0         332764
1          1.0         2.0           1.0         380929
2          1.0         2.0           1.0         380962
3          4.0         2.0           1.0         448085
4          1.0         2.0           1.0         448112

In [8]:
# Leer la tabla original de datos en un DataFrame
df_mgn = pd.read_csv('/mnt/d/minsalud/si_risaralda/ris_cnpv2018/CNPV2018_MGN_A2_66.CSV')
df_mgn.head()

,U_DPTO,U_MPIO,UA_CLASE,UA1_LOCALIDAD,U_SECT_RUR,U_SECC_RUR,UA2_CPOB,U_SECT_URB,U_SECC_URB,U_MZA,U_EDIFICA,COD_ENCUESTAS,U_VIVIENDA,COD_DANE_ANM
0,66,1,1,1,0,0,0,501,2,22,1,11027813,1,6600110000000005010222
1,66,1,1,1,0,0,0,501,2,22,2,11171765,1,6600110000000005010222
2,66,1,1,1,0,0,0,501,2,22,3,11027807,1,6600110000000005010222
3,66,1,1,1,0,0,0,501,2,22,4,11027783,1,6600110000000005010222
4,66,1,1,1,0,0,0,501,2,22,5,11027743,1,6600110000000005010222

In [9]:
# Verificar si TODOS los valores de df_viv_miv están en df_mgn
todos_presentes = df_viv_miv['COD_ENCUESTAS'].isin(df_mgn['COD_ENCUESTAS']).all()
print(f"¿Todos los COD_ENCUESTAS de df_viv_miv están en df_mgn? {todos_presentes}")

¿Todos los COD_ENCUESTAS de df_viv_miv están en df_mgn? True

In [10]:
# Verificar si TODOS los valores de mnz_ris_miv están en df_mgn
todos_presentes = mnz_ris_miv['COD_DANE_A'].isin(df_mgn['COD_DANE_ANM']).all()
print(f"¿Todos los COD_DANE_A de mnz_ris_miv están en df_mgn? {todos_presentes}")

¿Todos los COD_DANE_A de mnz_ris_miv están en df_mgn? False

In [11]:
# Contar cuántos coinciden
coinciden = mnz_ris_miv['COD_DANE_A'].isin(df_mgn['COD_DANE_ANM']).sum()
total = len(mnz_ris_miv)

print(f"Coincidencias: {coinciden} de {total} ({coinciden/total*100:.2f}%)")
print(f"No coinciden: {total - coinciden}")

Coincidencias: 8764 de 10188 (86.02%)
No coinciden: 1424

In [12]:
# Verificar si TODOS los valores de df_mgn están en mnz_ris_miv
todos_presentes = df_mgn['COD_DANE_ANM'].isin(mnz_ris_miv['COD_DANE_A']).all()
print(f"¿Todos los COD_DANE_ANM de df_mgn están en mnz_ris_miv? {todos_presentes}")

¿Todos los COD_DANE_ANM de df_mgn están en mnz_ris_miv? False

In [13]:
# Contar cuántos coinciden
coinciden = mnz_ris_miv['COD_DANE_A'].isin(df_mgn['COD_DANE_ANM']).sum()
coinciden = df_mgn['COD_DANE_ANM'].isin(mnz_ris_miv['COD_DANE_A']).sum()
total = len(df_mgn)

print(f"Coincidencias: {coinciden} de {total} ({coinciden/total*100:.2f}%)")
print(f"No coinciden: {total - coinciden}")

Coincidencias: 289819 de 342396 (84.64%)
No coinciden: 52577

In [14]:
# Crear una copia de df_viv_miv
df_viv_mzn = df_viv_miv.copy()

# Crear el mapeo
mapeo = df_mgn.set_index('COD_ENCUESTAS')['COD_DANE_ANM']

# Agregar la nueva columna
df_viv_mzn['COD_DANE_ANM'] = df_viv_mzn['COD_ENCUESTAS'].map(mapeo)

In [15]:
# Guardar nuevo csv de viviendas con códigos de manzanas
df_viv_mzn.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn.csv", index=False)
df_viv_mzn = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn.csv")
df_viv_mzn.head()

,V_MAT_PARED,V_MAT_PISO,V_TIPO_SERSA,COD_ENCUESTAS,COD_DANE_ANM
0,1.0,1.0,1.0,332764,6600110000000007010802
1,1.0,2.0,1.0,380929,6600110000000007010802
2,1.0,2.0,1.0,380962,6600110000000007010802
3,4.0,2.0,1.0,448085,6600110000000007010802
4,1.0,2.0,1.0,448112,6600110000000007010802

In [16]:
# Lista de columnas a explorar
columnas = ['V_MAT_PARED', 'V_MAT_PISO', 'V_TIPO_SERSA']

# Exploración detallada
for col in columnas:
    print(f"\n{'='*50}")
    print(f"COLUMNA: {col}")
    print(f"{'='*50}")
    
    # Tipo de dato
    print(f"Tipo de dato: {df_viv_mzn[col].dtype}")
    
    # Valores únicos
    print(f"\nCantidad de valores únicos: {df_viv_mzn[col].nunique()}")
    print(f"Valores únicos: {sorted(df_viv_mzn[col].unique())}")
    
    # Rango
    if df_viv_mzn[col].dtype in ['int64', 'float64']:
        print(f"\nRango: [{df_viv_mzn[col].min()}, {df_viv_mzn[col].max()}]")
    
    # Valores nulos
    print(f"\nValores NaN: {df_viv_mzn[col].isna().sum()}")
    print(f"Porcentaje NaN: {df_viv_mzn[col].isna().sum() / len(df_viv_mzn) * 100:.2f}%")
    
    # Distribución de valores
    print(f"\nDistribución de valores:")
    print(df_viv_mzn[col].value_counts().sort_index())

==================================================
COLUMNA: V_MAT_PARED
==================================================
Tipo de dato: float64

Cantidad de valores únicos: 9
Valores únicos: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(nan), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0)]

Rango: [1.0, 9.0]

Valores NaN: 69137
Porcentaje NaN: 20.19%

Distribución de valores:
V_MAT_PARED
1.0    220054
2.0     25727
3.0      2607
4.0      1903
5.0     11962
6.0      5903
7.0      4777
8.0       316
9.0        10
Name: count, dtype: int64

==================================================
COLUMNA: V_MAT_PISO
==================================================
Tipo de dato: float64

Cantidad de valores únicos: 6
Valores únicos: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(nan), np.float64(6.0)]

Rango: [1.0, 6.0]

Valores NaN: 69137
Porcentaje NaN: 20.19%

Distribución de valores:
V_MAT_PISO
1.0     15052
2.0    198385
3.0       261
4.0     41551
5.0     15800
6.0      2210
Name: count, dtype: int64

==================================================
COLUMNA: V_TIPO_SERSA
==================================================
Tipo de dato: float64

Cantidad de valores únicos: 7
Valores únicos: [np.float64(1.0), np.float64(nan), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(9.0)]

Rango: [1.0, 9.0]

Valores NaN: 69137
Porcentaje NaN: 20.19%

Distribución de valores:
V_TIPO_SERSA
1.0    234068
2.0     23726
3.0      2331
4.0       730
5.0      8439
6.0      2456
9.0      1509
Name: count, dtype: int64

In [17]:
# Crear máscaras de valores NaN para cada columna
columnas = ['V_MAT_PARED', 'V_MAT_PISO', 'V_TIPO_SERSA']

mask_pared = df_viv_mzn['V_MAT_PARED'].isna()
mask_piso = df_viv_mzn['V_MAT_PISO'].isna()
mask_sersa = df_viv_mzn['V_TIPO_SERSA'].isna()

# Cantidad de filas con NaN en cada combinación
print(f"\nFilas con NaN en las 3 columnas: {(mask_pared & mask_piso & mask_sersa).sum()}")
print(f"Filas con NaN en al menos 1 columna: {(mask_pared | mask_piso | mask_sersa).sum()}")

# Verificar combinaciones específicas
print("\nDesglose de combinaciones:")
print(f"NaN solo en PARED: {(mask_pared & ~mask_piso & ~mask_sersa).sum()}")
print(f"NaN solo en PISO: {(~mask_pared & mask_piso & ~mask_sersa).sum()}")
print(f"NaN solo en SERSA: {(~mask_pared & ~mask_piso & mask_sersa).sum()}")
print(f"NaN en todas: {(mask_pared & mask_piso & mask_sersa).sum()}")

Filas con NaN en las 3 columnas: 69137
Filas con NaN en al menos 1 columna: 69137

Desglose de combinaciones:
NaN solo en PARED: 0
NaN solo en PISO: 0
NaN solo en SERSA: 0
NaN en todas: 69137

In [18]:
# Eliminar las filas con NaN en las 3 columnas:
df_viv_mzn = df_viv_mzn.dropna(subset=['V_MAT_PARED', 'V_MAT_PISO', 'V_TIPO_SERSA'])

# Verificar el resultado
print(f"Filas después de eliminar NaN: {len(df_viv_mzn)}")
print(f"NaN restantes en V_MAT_PARED: {df_viv_mzn['V_MAT_PARED'].isna().sum()}")
print(f"NaN restantes en V_MAT_PISO: {df_viv_mzn['V_MAT_PISO'].isna().sum()}")
print(f"NaN restantes en V_TIPO_SERSA: {df_viv_mzn['V_TIPO_SERSA'].isna().sum()}")

Filas después de eliminar NaN: 273259
NaN restantes en V_MAT_PARED: 0
NaN restantes en V_MAT_PISO: 0
NaN restantes en V_TIPO_SERSA: 0

In [19]:
# Generar nuevo dataset con datos de variables sin nan
df_viv_mzn_nan = df_viv_mzn.copy()

# Guardar nuevo csv de viviendas con códigos de manzanas sin nan
df_viv_mzn_nan.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn_nan.csv", index=False)
df_viv_mzn_nan = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn_nan.csv")
df_viv_mzn_nan.head()

,V_MAT_PARED,V_MAT_PISO,V_TIPO_SERSA,COD_ENCUESTAS,COD_DANE_ANM
0,1.0,1.0,1.0,332764,6600110000000007010802
1,1.0,2.0,1.0,380929,6600110000000007010802
2,1.0,2.0,1.0,380962,6600110000000007010802
3,4.0,2.0,1.0,448085,6600110000000007010802
4,1.0,2.0,1.0,448112,6600110000000007010802

In [20]:
# Reclasificar valores en df_viv_mzn_nan
# Diccionarios de mapeo para cada columna
mapeo_pared = {
    1: 1, 2: 1, 3: 1,
    6: 2,
    4: 3, 7: 3,
    5: 4,
    8: 5,
    9: 6
}

mapeo_piso = {
    1: 1, 2: 1, 3: 1, 4: 1,
    5: 2,
    6: 3
}

mapeo_sersa = {
    1: 1, 2: 1,
    3: 2, 4: 2,
    5: 3,
    6: 4
}

# Aplicar las reclasificaciones
df_viv_mzn_nan['V_MAT_PARED'] = df_viv_mzn_nan['V_MAT_PARED'].replace(mapeo_pared)
df_viv_mzn_nan['V_MAT_PISO'] = df_viv_mzn_nan['V_MAT_PISO'].replace(mapeo_piso)
df_viv_mzn_nan['V_TIPO_SERSA'] = df_viv_mzn_nan['V_TIPO_SERSA'].replace(mapeo_sersa)

# Verificar los resultados
print("Valores únicos después de reclasificar:")
print(f"V_MAT_PARED: {sorted(df_viv_mzn_nan['V_MAT_PARED'].unique())}")
print(f"V_MAT_PISO: {sorted(df_viv_mzn_nan['V_MAT_PISO'].unique())}")
print(f"V_TIPO_SERSA: {sorted(df_viv_mzn_nan['V_TIPO_SERSA'].unique())}")

# Distribución de valores
print("\nDistribución V_MAT_PARED:")
print(df_viv_mzn_nan['V_MAT_PARED'].value_counts().sort_index())

print("\nDistribución V_MAT_PISO:")
print(df_viv_mzn_nan['V_MAT_PISO'].value_counts().sort_index())

print("\nDistribución V_TIPO_SERSA:")
print(df_viv_mzn_nan['V_TIPO_SERSA'].value_counts().sort_index())

Valores únicos después de reclasificar:
V_MAT_PARED: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0)]
V_MAT_PISO: [np.float64(1.0), np.float64(2.0), np.float64(3.0)]
V_TIPO_SERSA: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(9.0)]

Distribución V_MAT_PARED:
V_MAT_PARED
1.0    248388
2.0      5903
3.0      6680
4.0     11962
5.0       316
6.0        10
Name: count, dtype: int64

Distribución V_MAT_PISO:
V_MAT_PISO
1.0    255249
2.0     15800
3.0      2210
Name: count, dtype: int64

Distribución V_TIPO_SERSA:
V_TIPO_SERSA
1.0    257794
2.0      3061
3.0      8439
4.0      2456
9.0      1509
Name: count, dtype: int64

In [21]:
# Generar nuevo dataset con datos de variables reclasificadas
df_viv_mzn_nan_reclas = df_viv_mzn_nan.copy()

# Guardar nuevo csv de viviendas con códigos de manzanas sin nan
df_viv_mzn_nan_reclas.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn_nan_reclas.csv", index=False)
df_viv_mzn_nan_reclas = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn_nan_reclas.csv")
df_viv_mzn_nan_reclas.head()

,V_MAT_PARED,V_MAT_PISO,V_TIPO_SERSA,COD_ENCUESTAS,COD_DANE_ANM
0,1.0,1.0,1.0,332764,6600110000000007010802
1,1.0,1.0,1.0,380929,6600110000000007010802
2,1.0,1.0,1.0,380962,6600110000000007010802
3,3.0,1.0,1.0,448085,6600110000000007010802
4,1.0,1.0,1.0,448112,6600110000000007010802

In [22]:
# Función para calcular porcentajes de cada categoría
def calcular_porcentajes(grupo, columna, valores_map):
    """
    Calcula el porcentaje de cada valor en la columna para el grupo
    """
    total = len(grupo)
    porcentajes = {}
    
    for valor, nombre_col in valores_map.items():
        count = (grupo[columna] == valor).sum()
        porcentajes[nombre_col] = (count / total * 100) if total > 0 else 0
    
    return pd.Series(porcentajes)

# Definir mapeos de valores a nombres de columnas
valores_pared = {
    1: 'PA_1FIR',
    2: 'PA_2MBU',
    3: 'PA_3MVE',
    4: 'PA_4BRR',
    5: 'PA_5MRE',
    6: 'PA_6NOP'
}

valores_piso = {
    1: 'PI_1FIR',
    2: 'PI_2MBU',
    3: 'PI_3DES'
}

valores_sersa = {
    1: 'IN_1CON',
    2: 'IN_2NOC',
    3: 'IN_3DES',
    4: 'IN_4NOI'
}

# Calcular porcentajes por manzana para cada columna (con include_groups=False)
porcentajes_pared = df_viv_mzn_nan_reclas.groupby('COD_DANE_ANM').apply(
    lambda x: calcular_porcentajes(x, 'V_MAT_PARED', valores_pared),
    include_groups=False
).reset_index()

porcentajes_piso = df_viv_mzn_nan_reclas.groupby('COD_DANE_ANM').apply(
    lambda x: calcular_porcentajes(x, 'V_MAT_PISO', valores_piso),
    include_groups=False
).reset_index()

porcentajes_sersa = df_viv_mzn_nan_reclas.groupby('COD_DANE_ANM').apply(
    lambda x: calcular_porcentajes(x, 'V_TIPO_SERSA', valores_sersa),
    include_groups=False
).reset_index()

# Combinar todos los porcentajes en un solo dataframe
df_viv_mzn_nan_reclas_agg = porcentajes_pared.merge(
    porcentajes_piso, on='COD_DANE_ANM'
).merge(
    porcentajes_sersa, on='COD_DANE_ANM'
)

# Verificar resultados
print(f"Total de manzanas: {len(df_viv_mzn_nan_reclas_agg)}")
print(f"\nColumnas generadas: {df_viv_mzn_nan_reclas_agg.columns.tolist()}")
print(f"\nPrimeras filas:")
print(df_viv_mzn_nan_reclas_agg.head())

Total de manzanas: 8562

Columnas generadas: ['COD_DANE_ANM', 'PA_1FIR', 'PA_2MBU', 'PA_3MVE', 'PA_4BRR', 'PA_5MRE', 'PA_6NOP', 'PI_1FIR', 'PI_2MBU', 'PI_3DES', 'IN_1CON', 'IN_2NOC', 'IN_3DES', 'IN_4NOI']

Primeras filas:
             COD_DANE_ANM     PA_1FIR   PA_2MBU  PA_3MVE  PA_4BRR    PA_5MRE  \
0  6600110000000001010101   83.333333  0.000000      0.0      0.0  16.666667
1  6600110000000001010105  100.000000  0.000000      0.0      0.0   0.000000
2  6600110000000001010106   95.652174  4.347826      0.0      0.0   0.000000
3  6600110000000001010109  100.000000  0.000000      0.0      0.0   0.000000
4  6600110000000001010110  100.000000  0.000000      0.0      0.0   0.000000

   PA_6NOP     PI_1FIR   PI_2MBU  PI_3DES  IN_1CON  IN_2NOC  IN_3DES  IN_4NOI
0      0.0  100.000000  0.000000      0.0    100.0      0.0      0.0      0.0
1      0.0   98.039216  1.960784      0.0    100.0      0.0      0.0      0.0
2      0.0   91.304348  8.695652      0.0    100.0      0.0      0.0      0.0
3      0.0  100.000000  0.000000      0.0    100.0      0.0      0.0      0.0
4      0.0  100.000000  0.000000      0.0    100.0      0.0      0.0      0.0

In [23]:
# Guardar nuevo csv de viviendas con valores de viviendas agregados
df_viv_mzn_nan_reclas_agg.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn_nan_reclas_agg.csv", index=False)
df_viv_mzn_nan_reclas_agg = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_viv_mzn_nan_reclas_agg.csv")
df_viv_mzn_nan_reclas_agg.head()

,COD_DANE_ANM,PA_1FIR,PA_2MBU,PA_3MVE,PA_4BRR,PA_5MRE,PA_6NOP,PI_1FIR,PI_2MBU,PI_3DES,IN_1CON,IN_2NOC,IN_3DES,IN_4NOI
0,6600110000000001010101,83.333333,0.000000,0.0,0.0,16.666667,0.0,100.000000,0.000000,0.0,100.0,0.0,0.0,0.0
1,6600110000000001010105,100.000000,0.000000,0.0,0.0,0.000000,0.0,98.039216,1.960784,0.0,100.0,0.0,0.0,0.0
2,6600110000000001010106,95.652174,4.347826,0.0,0.0,0.000000,0.0,91.304348,8.695652,0.0,100.0,0.0,0.0,0.0
3,6600110000000001010109,100.000000,0.000000,0.0,0.0,0.000000,0.0,100.000000,0.000000,0.0,100.0,0.0,0.0,0.0
4,6600110000000001010110,100.000000,0.000000,0.0,0.0,0.000000,0.0,100.000000,0.000000,0.0,100.0,0.0,0.0,0.0

In [24]:
# Leer la tabla original de datos del DataFrame de hogares
df_hog = pd.read_csv('/mnt/d/minsalud/si_risaralda/ris_cnpv2018/CNPV2018_2HOG_A2_66.CSV')
df_hog.head()

,TIPO_REG,U_DPTO,U_MPIO,UA_CLASE,COD_ENCUESTAS,U_VIVIENDA,H_NROHOG,H_NRO_CUARTOS,H_NRO_DORMIT,H_DONDE_PREPALIM,H_AGUA_COCIN,HA_NRO_FALL,HA_TOT_PER
0,2,66,1,1,332764,10,1.0,5.0,3.0,1.0,1.0,NaN,4.0
1,2,66,1,1,333127,5,1.0,5.0,2.0,1.0,1.0,NaN,2.0
2,2,66,1,1,380879,1,1.0,5.0,3.0,1.0,1.0,NaN,3.0
3,2,66,1,1,380893,1,1.0,5.0,3.0,1.0,1.0,NaN,2.0
4,2,66,1,1,380905,3,1.0,3.0,2.0,1.0,1.0,NaN,2.0

In [25]:
# Definir columnas hog-MIV
columnas = [
    'H_NRO_CUARTOS', 'H_NRO_DORMIT', 'H_DONDE_PREPALIM', 'H_AGUA_COCIN', 'COD_ENCUESTAS'
]

# Seleccionar solo esas columnas
df_hog_miv = df_hog[columnas]

# Guardar nuevo csv
df_hog_miv.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_miv.csv", index=False)

In [26]:
df_hog_miv = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_miv.csv")
df_hog_miv.head()

   H_NRO_CUARTOS  H_NRO_DORMIT  H_DONDE_PREPALIM  H_AGUA_COCIN  COD_ENCUESTAS
0            5.0           3.0               1.0           1.0         332764
1            5.0           2.0               1.0           1.0         333127
2            5.0           3.0               1.0           1.0         380879
3            5.0           3.0               1.0           1.0         380893
4            3.0           2.0               1.0           1.0         380905

In [27]:
# Crear una copia de df_viv_miv
df_hog_mzn = df_hog_miv.copy()

# Crear el mapeo
mapeo = df_mgn.set_index('COD_ENCUESTAS')['COD_DANE_ANM']

# Agregar la nueva columna
df_hog_mzn['COD_DANE_ANM'] = df_hog_mzn['COD_ENCUESTAS'].map(mapeo)

In [28]:
# Guardar nuevo csv de viviendas con códigos de manzanas
df_hog_mzn.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn.csv", index=False)
df_hog_mzn = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn.csv")
df_hog_mzn.head()

,H_NRO_CUARTOS,H_NRO_DORMIT,H_DONDE_PREPALIM,H_AGUA_COCIN,COD_ENCUESTAS,COD_DANE_ANM
0,5.0,3.0,1.0,1.0,332764,6600110000000007010802
1,5.0,2.0,1.0,1.0,333127,6600110000000004010211
2,5.0,3.0,1.0,1.0,380879,6600110000000003020705
3,5.0,3.0,1.0,1.0,380893,6600110000000003020705
4,3.0,2.0,1.0,1.0,380905,6600110000000003020705

In [29]:
# Lista de columnas a explorar
columnas = ['H_NRO_CUARTOS', 'H_NRO_DORMIT', 'H_DONDE_PREPALIM', 'H_AGUA_COCIN']

# Exploración detallada
for col in columnas:
    print(f"\n{'='*50}")
    print(f"COLUMNA: {col}")
    print(f"{'='*50}")
    
    # Tipo de dato
    print(f"Tipo de dato: {df_hog_mzn[col].dtype}")
    
    # Valores únicos
    print(f"\nCantidad de valores únicos: {df_hog_mzn[col].nunique()}")
    print(f"Valores únicos: {sorted(df_hog_mzn[col].unique())}")
    
    # Rango
    if df_hog_mzn[col].dtype in ['int64', 'float64']:
        print(f"\nRango: [{df_hog_mzn[col].min()}, {df_hog_mzn[col].max()}]")
    
    # Valores nulos
    print(f"\nValores NaN: {df_hog_mzn[col].isna().sum()}")
    print(f"Porcentaje NaN: {df_hog_mzn[col].isna().sum() / len(df_hog_mzn) * 100:.2f}%")
    
    # Distribución de valores
    print(f"\nDistribución de valores:")
    print(df_hog_mzn[col].value_counts().sort_index())

==================================================
COLUMNA: H_NRO_CUARTOS
==================================================
Tipo de dato: float64

Cantidad de valores únicos: 21
Valores únicos: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0), np.float64(10.0), np.float64(11.0), np.float64(12.0), np.float64(13.0), np.float64(14.0), np.float64(15.0), np.float64(16.0), np.float64(17.0), np.float64(18.0), np.float64(19.0), np.float64(20.0), np.float64(99.0), np.float64(nan)]

Rango: [1.0, 99.0]

Valores NaN: 201
Porcentaje NaN: 0.07%

Distribución de valores:
H_NRO_CUARTOS
1.0     16328
2.0     38739
3.0     88543
4.0     86943
5.0     32571
6.0      9562
7.0      2626
8.0       963
9.0       324
10.0      146
11.0       47
12.0       24
13.0        8
14.0       10
15.0        6
16.0        4
17.0        3
18.0        1
19.0        2
20.0        1
99.0     1081
Name: count, dtype: int64

==================================================
COLUMNA: H_NRO_DORMIT
==================================================
Tipo de dato: float64

Cantidad de valores únicos: 18
Valores únicos: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0), np.float64(10.0), np.float64(11.0), np.float64(12.0), np.float64(15.0), np.float64(16.0), np.float64(17.0), np.float64(19.0), np.float64(20.0), np.float64(99.0), np.float64(nan)]

Rango: [1.0, 99.0]

Valores NaN: 201
Porcentaje NaN: 0.07%

Distribución de valores:
H_NRO_DORMIT
1.0      70475
2.0     106672
3.0      76366
4.0      18687
5.0       3526
6.0        784
7.0        205
8.0         72
9.0         34
10.0        18
11.0         6
12.0         1
15.0         1
16.0         1
17.0         1
19.0         1
20.0         1
99.0      1081
Name: count, dtype: int64

==================================================
COLUMNA: H_DONDE_PREPALIM
==================================================
Tipo de dato: float64

Cantidad de valores únicos: 7
Valores únicos: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(9.0), np.float64(nan)]

Rango: [1.0, 9.0]

Valores NaN: 201
Porcentaje NaN: 0.07%

Distribución de valores:
H_DONDE_PREPALIM
1.0    250173
2.0      4431
3.0     17223
4.0       567
5.0      1167
6.0      3248
9.0      1123
Name: count, dtype: int64

==================================================
COLUMNA: H_AGUA_COCIN
==================================================
Tipo de dato: float64

Cantidad de valores únicos: 12
Valores únicos: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(11.0), np.float64(nan), np.float64(9.0), np.float64(10.0), np.float64(99.0)]

Rango: [1.0, 99.0]

Valores NaN: 3449
Porcentaje NaN: 1.24%

Distribución de valores:
H_AGUA_COCIN
1.0     232084
2.0      18910
3.0       6580
4.0        417
5.0        214
6.0        218
7.0      14396
8.0         71
9.0         44
10.0        31
11.0        77
99.0      1642
Name: count, dtype: int64

In [30]:
# Crear máscaras de valores NaN para cada columna
columnas = ['H_NRO_CUARTOS', 'H_NRO_DORMIT', 'H_DONDE_PREPALIM', 'H_AGUA_COCIN']

mask_cuartos = df_hog_mzn['H_NRO_CUARTOS'].isna()
mask_dormitorios = df_hog_mzn['H_NRO_DORMIT'].isna()
mask_cocina = df_hog_mzn['H_DONDE_PREPALIM'].isna()
mask_agua = df_hog_mzn['H_AGUA_COCIN'].isna()

# Cantidad de filas con NaN en cada combinación
print(f"\nFilas con NaN en las 4 columnas: {(mask_cuartos & mask_dormitorios & mask_cocina & mask_agua).sum()}")
print(f"Filas con NaN en al menos 1 columna: {(mask_cuartos | mask_dormitorios | mask_cocina | mask_agua).sum()}")

# Verificar combinaciones específicas
print("\nDesglose de combinaciones:")
print(f"NaN solo en CUARTOS: {(mask_cuartos & ~mask_dormitorios & ~mask_cocina & ~mask_agua).sum()}")
print(f"NaN solo en DORMITORIOS: {(~mask_cuartos & mask_dormitorios & ~mask_cocina & ~mask_agua).sum()}")
print(f"NaN solo en COCINA: {(~mask_cuartos & ~mask_dormitorios & mask_cocina & ~mask_agua).sum()}")
print(f"NaN solo en AGUA: {(~mask_cuartos & ~mask_dormitorios & ~mask_cocina & mask_agua).sum()}")
print(f"NaN en todas: {(mask_cuartos & mask_dormitorios & mask_cocina & mask_agua).sum()}")

Filas con NaN en las 4 columnas: 201
Filas con NaN en al menos 1 columna: 3449

Desglose de combinaciones:
NaN solo en CUARTOS: 0
NaN solo en DORMITORIOS: 0
NaN solo en COCINA: 0
NaN solo en AGUA: 3248
NaN en todas: 201

In [31]:
# Eliminar las filas con NaN en las 3 columnas:
df_hog_mzn = df_hog_mzn.dropna(subset=['H_NRO_CUARTOS', 'H_NRO_DORMIT', 'H_DONDE_PREPALIM', 'H_AGUA_COCIN'])

# Verificar el resultado
print(f"Filas después de eliminar NaN: {len(df_hog_mzn)}")
print(f"NaN restantes en H_NRO_CUARTOS: {df_hog_mzn['H_NRO_CUARTOS'].isna().sum()}")
print(f"NaN restantes en H_NRO_DORMIT: {df_hog_mzn['H_NRO_DORMIT'].isna().sum()}")
print(f"NaN restantes en H_DONDE_PREPALIM: {df_hog_mzn['H_DONDE_PREPALIM'].isna().sum()}")
print(f"NaN restantes en H_AGUA_COCIN: {df_hog_mzn['H_AGUA_COCIN'].isna().sum()}")

Filas después de eliminar NaN: 274684
NaN restantes en H_NRO_CUARTOS: 0
NaN restantes en H_NRO_DORMIT: 0
NaN restantes en H_DONDE_PREPALIM: 0
NaN restantes en H_AGUA_COCIN: 0

In [32]:
# Generar nuevo dataset con datos de variables sin nan
df_hog_mzn_nan = df_hog_mzn.copy()

# Guardar nuevo csv de viviendas con códigos de manzanas sin nan
df_hog_mzn_nan.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn_nan.csv", index=False)
df_hog_mzn_nan = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn_nan.csv")
df_hog_mzn_nan.head()

,H_NRO_CUARTOS,H_NRO_DORMIT,H_DONDE_PREPALIM,H_AGUA_COCIN,COD_ENCUESTAS,COD_DANE_ANM
0,5.0,3.0,1.0,1.0,332764,6600110000000007010802
1,5.0,2.0,1.0,1.0,333127,6600110000000004010211
2,5.0,3.0,1.0,1.0,380879,6600110000000003020705
3,5.0,3.0,1.0,1.0,380893,6600110000000003020705
4,3.0,2.0,1.0,1.0,380905,6600110000000003020705

In [33]:
# Reclasificar valores en df_hog_mzn_nan
# Diccionarios de mapeo para cada columna
mapeo_cocina = {
    1: 1,
    2: 2, 3: 2, 4: 2,
    5: 3,
    6: 4
}

mapeo_agua = {
    11: 1, 12: 1,
    1: 2, 2: 2, 3: 2,
    4: 3, 5: 3,
    8: 4, 9: 4, 10: 4,
    7: 5,
    6: 6
}

# Aplicar las reclasificaciones
df_hog_mzn_nan['H_DONDE_PREPALIM'] = df_hog_mzn_nan['H_DONDE_PREPALIM'].replace(mapeo_cocina)
df_hog_mzn_nan['H_AGUA_COCIN'] = df_hog_mzn_nan['H_AGUA_COCIN'].replace(mapeo_agua)

# Verificar los resultados
print("Valores únicos después de reclasificar:")
print(f"H_DONDE_PREPALIM: {sorted(df_hog_mzn_nan['H_DONDE_PREPALIM'].unique())}")
print(f"H_AGUA_COCIN: {sorted(df_hog_mzn_nan['H_AGUA_COCIN'].unique())}")

# Distribución de valores
print("\nDistribución H_DONDE_PREPALIM:")
print(df_hog_mzn_nan['H_DONDE_PREPALIM'].value_counts().sort_index())

print("\nDistribución H_AGUA_COCIN:")
print(df_hog_mzn_nan['H_AGUA_COCIN'].value_counts().sort_index())

Valores únicos después de reclasificar:
H_DONDE_PREPALIM: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(9.0)]
H_AGUA_COCIN: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(99.0)]

Distribución H_DONDE_PREPALIM:
H_DONDE_PREPALIM
1.0    250173
2.0     22221
3.0      1167
9.0      1123
Name: count, dtype: int64

Distribución H_AGUA_COCIN:
H_AGUA_COCIN
1.0         77
2.0     257574
3.0        631
4.0        146
5.0      14396
6.0        218
99.0      1642
Name: count, dtype: int64

In [34]:
# Generar nuevo dataset con datos de variables reclasificadas
df_hog_mzn_nan_reclas = df_hog_mzn_nan.copy()

# Guardar nuevo csv de viviendas con códigos de manzanas sin nan
df_hog_mzn_nan_reclas.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn_nan_reclas.csv", index=False)
df_hog_mzn_nan_reclas = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn_nan_reclas.csv")
df_hog_mzn_nan_reclas.head()

,H_NRO_CUARTOS,H_NRO_DORMIT,H_DONDE_PREPALIM,H_AGUA_COCIN,COD_ENCUESTAS,COD_DANE_ANM
0,5.0,3.0,1.0,2.0,332764,6600110000000007010802
1,5.0,2.0,1.0,2.0,333127,6600110000000004010211
2,5.0,3.0,1.0,2.0,380879,6600110000000003020705
3,5.0,3.0,1.0,2.0,380893,6600110000000003020705
4,3.0,2.0,1.0,2.0,380905,6600110000000003020705

In [35]:
# Función para calcular porcentajes de cada categoría
def calcular_porcentajes(grupo, columna, valores_map):
    """
    Calcula el porcentaje de cada valor en la columna para el grupo
    """
    total = len(grupo)
    porcentajes = {}
    
    for valor, nombre_col in valores_map.items():
        count = (grupo[columna] == valor).sum()
        porcentajes[nombre_col] = (count / total * 100) if total > 0 else 0
    
    return pd.Series(porcentajes)

# Crear una copia del dataframe para no modificar el original
df_temp = df_hog_mzn_nan_reclas.copy()

# Limpiar valores a ignorar (convertir a NaN)
df_temp['H_NRO_CUARTOS'] = df_temp['H_NRO_CUARTOS'].replace(99, pd.NA)
df_temp['H_NRO_DORMIT'] = df_temp['H_NRO_DORMIT'].replace(99, pd.NA)
df_temp['H_DONDE_PREPALIM'] = df_temp['H_DONDE_PREPALIM'].replace(9, pd.NA)
df_temp['H_AGUA_COCIN'] = df_temp['H_AGUA_COCIN'].replace(99, pd.NA)

# Definir mapeos de valores a nombres de columnas
valores_cocina = {
    1: 'CO_1EXC',
    2: 'CO_2COM',
    3: 'CO_3PER',
    4: 'CO_4NOC'
}

valores_agua = {
    1: 'AG_1ENO',
    2: 'AG_2ACU',
    3: 'AG_3POZ',
    4: 'AG_4COM',
    5: 'AG_5HID',
    6: 'AG_6LLU'
}

# Calcular sumas de cuartos y dormitorios por manzana (ignorando NaN)
sumas_cuartos_dormit = df_temp.groupby('COD_DANE_ANM').agg({
    'H_NRO_CUARTOS': 'sum',
    'H_NRO_DORMIT': 'sum'
}).rename(columns={
    'H_NRO_CUARTOS': 'NCUA',
    'H_NRO_DORMIT': 'NDOR'
}).reset_index()

# Calcular porcentajes por manzana para cada columna (con include_groups=False)
porcentajes_cocina = df_temp.groupby('COD_DANE_ANM').apply(
    lambda x: calcular_porcentajes(x, 'H_DONDE_PREPALIM', valores_cocina),
    include_groups=False
).reset_index()

porcentajes_agua = df_temp.groupby('COD_DANE_ANM').apply(
    lambda x: calcular_porcentajes(x, 'H_AGUA_COCIN', valores_agua),
    include_groups=False
).reset_index()

# Combinar todos los dataframes
df_hog_mzn_nan_reclas_agg = porcentajes_cocina.merge(
    porcentajes_agua, on='COD_DANE_ANM'
).merge(
    sumas_cuartos_dormit, on='COD_DANE_ANM'
)

# Verificar resultados
print(f"\nTotal de manzanas: {len(df_hog_mzn_nan_reclas_agg)}")
print(f"\nColumnas generadas: {df_hog_mzn_nan_reclas_agg.columns.tolist()}")
print(f"\nPrimeras filas (todas las columnas):")
print(df_hog_mzn_nan_reclas_agg.head())

Total de manzanas: 8562

Columnas generadas: ['COD_DANE_ANM', 'CO_1EXC', 'CO_2COM', 'CO_3PER', 'CO_4NOC', 'AG_1ENO', 'AG_2ACU', 'AG_3POZ', 'AG_4COM', 'AG_5HID', 'AG_6LLU', 'NCUA', 'NDOR']

Primeras filas (todas las columnas):
             COD_DANE_ANM     CO_1EXC   CO_2COM    CO_3PER  CO_4NOC  AG_1ENO  \
0  6600110000000001010101   83.333333  0.000000  16.666667      0.0      0.0
1  6600110000000001010105   98.000000  2.000000   0.000000      0.0      0.0
2  6600110000000001010106  100.000000  0.000000   0.000000      0.0      0.0
3  6600110000000001010109  100.000000  0.000000   0.000000      0.0      0.0
4  6600110000000001010110   92.307692  7.692308   0.000000      0.0      0.0

   AG_2ACU  AG_3POZ  AG_4COM  AG_5HID  AG_6LLU   NCUA   NDOR
0    100.0      0.0      0.0      0.0      0.0   18.0   13.0
1    100.0      0.0      0.0      0.0      0.0  175.0  117.0
2    100.0      0.0      0.0      0.0      0.0   67.0   43.0
3    100.0      0.0      0.0      0.0      0.0   14.0   10.0
4    100.0      0.0      0.0      0.0      0.0  104.0   76.0

In [36]:
# Guardar nuevo csv de hogares con valores agregados
df_hog_mzn_nan_reclas_agg.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn_nan_reclas_agg.csv", index=False)
df_hog_mzn_nan_reclas_agg = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_hog_mzn_nan_reclas_agg.csv")
df_hog_mzn_nan_reclas_agg.head()

,COD_DANE_ANM,CO_1EXC,CO_2COM,CO_3PER,CO_4NOC,AG_1ENO,AG_2ACU,AG_3POZ,AG_4COM,AG_5HID,AG_6LLU,NCUA,NDOR
0,6600110000000001010101,83.333333,0.000000,16.666667,0.0,0.0,100.0,0.0,0.0,0.0,0.0,18.0,13.0
1,6600110000000001010105,98.000000,2.000000,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,175.0,117.0
2,6600110000000001010106,100.000000,0.000000,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,67.0,43.0
3,6600110000000001010109,100.000000,0.000000,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,14.0,10.0
4,6600110000000001010110,92.307692,7.692308,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,104.0,76.0

In [37]:
# Obtener valores únicos de COD_DANE_ANM en cada dataframe
manzanas_viv = set(df_viv_mzn_nan_reclas_agg['COD_DANE_ANM'])
manzanas_hog = set(df_hog_mzn_nan_reclas_agg['COD_DANE_ANM'])

print("=" * 60)
print("COMPARACIÓN DE MANZANAS")
print("=" * 60)
print(f"Manzanas en df_viv_mzn_nan_reclas_agg: {len(manzanas_viv)}")
print(f"Manzanas en df_hog_mzn_nan_reclas_agg: {len(manzanas_hog)}")

# Manzanas en común
manzanas_comunes = manzanas_viv & manzanas_hog
print(f"\nManzanas en AMBOS dataframes: {len(manzanas_comunes)}")

# Manzanas solo en viviendas
solo_viv = manzanas_viv - manzanas_hog
print(f"\nManzanas SOLO en viviendas: {len(solo_viv)}")
if len(solo_viv) > 0:
    print(f"Ejemplos: {list(solo_viv)[:10]}")

# Manzanas solo en hogares
solo_hog = manzanas_hog - manzanas_viv
print(f"\nManzanas SOLO en hogares: {len(solo_hog)}")
if len(solo_hog) > 0:
    print(f"Ejemplos: {list(solo_hog)[:10]}")

============================================================
COMPARACIÓN DE MANZANAS
============================================================
Manzanas en df_viv_mzn_nan_reclas_agg: 8562
Manzanas en df_hog_mzn_nan_reclas_agg: 8562

Manzanas en AMBOS dataframes: 8562

Manzanas SOLO en viviendas: 0

Manzanas SOLO en hogares: 0

In [38]:
# Unión de los dataframes de viviendas y hogares con variables agregadas
df_mzn_completo = df_viv_mzn_nan_reclas_agg.merge(
    df_hog_mzn_nan_reclas_agg, 
    on='COD_DANE_ANM', 
    how='inner'
)

# Guardar nuevo csv de vivendas + hogares con valores agregados
df_mzn_completo.to_csv("/mnt/d/minsalud/si_risaralda/vector/df_mzn_completo.csv", index=False)
df_mzn_completo = pd.read_csv("/mnt/d/minsalud/si_risaralda/vector/df_mzn_completo.csv")
df_mzn_completo.head()

,COD_DANE_ANM,PA_1FIR,PA_2MBU,PA_3MVE,PA_4BRR,PA_5MRE,PA_6NOP,PI_1FIR,PI_2MBU,PI_3DES,...,CO_3PER,CO_4NOC,AG_1ENO,AG_2ACU,AG_3POZ,AG_4COM,AG_5HID,AG_6LLU,NCUA,NDOR
0,6600110000000001010101,83.333333,0.000000,0.0,0.0,16.666667,0.0,100.000000,0.000000,0.0,...,16.666667,0.0,0.0,100.0,0.0,0.0,0.0,0.0,18.0,13.0
1,6600110000000001010105,100.000000,0.000000,0.0,0.0,0.000000,0.0,98.039216,1.960784,0.0,...,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,175.0,117.0
2,6600110000000001010106,95.652174,4.347826,0.0,0.0,0.000000,0.0,91.304348,8.695652,0.0,...,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,67.0,43.0
3,6600110000000001010109,100.000000,0.000000,0.0,0.0,0.000000,0.0,100.000000,0.000000,0.0,...,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,14.0,10.0
4,6600110000000001010110,100.000000,0.000000,0.0,0.0,0.000000,0.0,100.000000,0.000000,0.0,...,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,104.0,76.0

In [39]:
# Obtener valores únicos de cada dataframe/geodataframe
manzanas_completo = set(df_mzn_completo['COD_DANE_ANM'])
manzanas_geo = set(mnz_ris_miv['COD_DANE_A'])

print("=" * 60)
print("COMPARACIÓN DE MANZANAS")
print("=" * 60)
print(f"Manzanas en df_mzn_completo: {len(manzanas_completo)}")
print(f"Manzanas en mnz_ris_miv (geodataframe): {len(manzanas_geo)}")

# Manzanas en común
manzanas_comunes = manzanas_completo & manzanas_geo
print(f"\nManzanas en AMBOS: {len(manzanas_comunes)}")

# Manzanas solo en df_mzn_completo
solo_completo = manzanas_completo - manzanas_geo
print(f"\nManzanas SOLO en df_mzn_completo: {len(solo_completo)}")

# Manzanas solo en geodataframe
solo_geo = manzanas_geo - manzanas_completo
print(f"\nManzanas SOLO en mnz_ris_miv: {len(solo_geo)}")

# Porcentaje de coincidencia
porcentaje_completo = (len(manzanas_comunes) / len(manzanas_completo) * 100) if len(manzanas_completo) > 0 else 0
porcentaje_geo = (len(manzanas_comunes) / len(manzanas_geo) * 100) if len(manzanas_geo) > 0 else 0

print("\n" + "=" * 60)
print("PORCENTAJES DE COINCIDENCIA")
print("=" * 60)
print(f"% de df_mzn_completo que están en geodataframe: {porcentaje_completo:.2f}%")
print(f"% de geodataframe que están en df_mzn_completo: {porcentaje_geo:.2f}%")

============================================================
COMPARACIÓN DE MANZANAS
============================================================
Manzanas en df_mzn_completo: 8562
Manzanas en mnz_ris_miv (geodataframe): 10188

Manzanas en AMBOS: 8277

Manzanas SOLO en df_mzn_completo: 285

Manzanas SOLO en mnz_ris_miv: 1911

============================================================
PORCENTAJES DE COINCIDENCIA
============================================================
% de df_mzn_completo que están en geodataframe: 96.67%
% de geodataframe que están en df_mzn_completo: 81.24%

In [40]:
# Join entre geodataframe y dataframe (solo manzanas coincidentes)
mnz_ris_miv_join = mnz_ris_miv.merge(
    df_mzn_completo,
    left_on='COD_DANE_A',
    right_on='COD_DANE_ANM',
    how='inner'
)

# Verificar el resultado
print("=" * 60)
print("RESULTADO DEL JOIN")
print("=" * 60)
print(f"Manzanas originales en mnz_ris_miv: {len(mnz_ris_miv)}")
print(f"Manzanas en df_mzn_completo: {len(df_mzn_completo)}")
print(f"Manzanas en mnz_ris_miv_join (después del join): {len(mnz_ris_miv_join)}")

print(f"\nTotal de columnas: {len(mnz_ris_miv_join.columns)}")
print(f"\nColumnas en el geodataframe combinado:")
print(mnz_ris_miv_join.columns.tolist())

print("\n" + "=" * 60)
print("PRIMERAS FILAS:")
print("=" * 60)
print(mnz_ris_miv_join.head())

print("\n" + "=" * 60)
print("INFORMACIÓN DEL GEODATAFRAME:")
print("=" * 60)
print(mnz_ris_miv_join.info())

# Verificar que sigue siendo un GeoDataFrame
print(f"\nTipo de objeto: {type(mnz_ris_miv_join)}")
print(f"CRS (sistema de coordenadas): {mnz_ris_miv_join.crs}")

============================================================
RESULTADO DEL JOIN
============================================================
Manzanas originales en mnz_ris_miv: 10188
Manzanas en df_mzn_completo: 8562
Manzanas en mnz_ris_miv_join (después del join): 8277

Total de columnas: 62

Columnas en el geodataframe combinado:
['COD_DANE_A', 'DPTO_CCDGO', 'MPIO_CDPMP', 'CLAS_CCDGO', 'DENSIDAD', 'TP9_1_USO', 'TP9_2_USO', 'TP9_3_USO', 'TP9_4_USO', 'TVIVIENDA', 'TP14_1_TIP', 'TP14_2_TIP', 'TP16_HOG', 'TP19_EE_1', 'TP19_EE_2', 'TP19_ACU_1', 'TP19_ACU_2', 'TP19_ALC_1', 'TP19_ALC_2', 'TP19_GAS_1', 'TP19_GAS_2', 'TP19_RECB1', 'TP19_RECB2', 'TP27_PERSO', 'TP34_1_EDA', 'TP34_2_EDA', 'TP34_3_EDA', 'TP34_4_EDA', 'TP34_5_EDA', 'TP34_6_EDA', 'TP34_7_EDA', 'TP34_8_EDA', 'TP34_9_EDA', 'NMB_LC_CM', 'TP_LC_CM', 'geometry', 'COD_DANE_ANM', 'PA_1FIR', 'PA_2MBU', 'PA_3MVE', 'PA_4BRR', 'PA_5MRE', 'PA_6NOP', 'PI_1FIR', 'PI_2MBU', 'PI_3DES', 'IN_1CON', 'IN_2NOC', 'IN_3DES', 'IN_4NOI', 'CO_1EXC', 'CO_2COM', 'CO_3PER', 'CO_4NOC', 'AG_1ENO', 'AG_2ACU', 'AG_3POZ', 'AG_4COM', 'AG_5HID', 'AG_6LLU', 'NCUA', 'NDOR']

============================================================
PRIMERAS FILAS:
============================================================
               COD_DANE_A DPTO_CCDGO MPIO_CDPMP CLAS_CCDGO  DENSIDAD  \
0  6600110000000001010101         66      66001          1  0.003750
1  6600110000000001010105         66      66001          1  0.005646
2  6600110000000001010106         66      66001          1  0.005045
3  6600110000000001010109         66      66001          1  0.005223
4  6600110000000001010110         66      66001          1  0.029689

   TP9_1_USO  TP9_2_USO  TP9_3_USO  TP9_4_USO  TVIVIENDA  ...    CO_3PER  \
0       11.0        0.0       16.0        0.0       11.0  ...  16.666667
1       65.0        0.0       16.0        0.0       65.0  ...   0.000000
2       25.0        0.0      551.0        0.0       25.0  ...   0.000000
3        9.0        0.0       24.0        0.0        9.0  ...   0.000000
4       32.0        0.0        8.0        0.0       32.0  ...   0.000000

   CO_4NOC  AG_1ENO  AG_2ACU  AG_3POZ  AG_4COM  AG_5HID  AG_6LLU   NCUA   NDOR
0      0.0      0.0    100.0      0.0      0.0      0.0      0.0   18.0   13.0
1      0.0      0.0    100.0      0.0      0.0      0.0      0.0  175.0  117.0
2      0.0      0.0    100.0      0.0      0.0      0.0      0.0   67.0   43.0
3      0.0      0.0    100.0      0.0      0.0      0.0      0.0   14.0   10.0
4      0.0      0.0    100.0      0.0      0.0      0.0      0.0  104.0   76.0

[5 rows x 62 columns]

============================================================
INFORMACIÓN DEL GEODATAFRAME:
============================================================
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 8277 entries, 0 to 8276
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COD_DANE_A    8277 non-null   object
 1   DPTO_CCDGO    8277 non-null   object
 2   MPIO_CDPMP    8277 non-null   object
 3   CLAS_CCDGO    8277 non-null   object
 4   DENSIDAD      8277 non-null   float64
 5   TP9_1_USO     8277 non-null   float64
 6   TP9_2_USO     8277 non-null   float64
 7   TP9_3_USO     8277 non-null   float64
 8   TP9_4_USO     8277 non-null   float64
 9   TVIVIENDA     8277 non-null   float64
 10  TP14_1_TIP    8277 non-null   float64
 11  TP14_2_TIP    8277 non-null   float64
 12  TP16_HOG      8277 non-null   float64
 13  TP19_EE_1     8277 non-null   float64
 14  TP19_EE_2     8277 non-null   float64
 15  TP19_ACU_1    8277 non-null   float64
 16  TP19_ACU_2    8277 non-null   float64
 17  TP19_ALC_1    8277 non-null   float64
 18  TP19_ALC_2    8277 non-null   float64
 19  TP19_GAS_1    8277 non-null   float64
 20  TP19_GAS_2    8277 non-null   float64
 21  TP19_RECB1    8277 non-null   float64
 22  TP19_RECB2    8277 non-null   float64
 23  TP27_PERSO    8277 non-null   float64
 24  TP34_1_EDA    8277 non-null   float64
 25  TP34_2_EDA    8277 non-null   float64
 26  TP34_3_EDA    8277 non-null   float64
 27  TP34_4_EDA    8277 non-null   float64
 28  TP34_5_EDA    8277 non-null   float64
 29  TP34_6_EDA    8277 non-null   float64
 30  TP34_7_EDA    8277 non-null   float64
 31  TP34_8_EDA    8277 non-null   float64
 32  TP34_9_EDA    8277 non-null   float64
 33  NMB_LC_CM     6152 non-null   object
 34  TP_LC_CM      6152 non-null   object
 35  geometry      8277 non-null   geometry
 36  COD_DANE_ANM  8277 non-null   object
 37  PA_1FIR       8277 non-null   float64
 38  PA_2MBU       8277 non-null   float64
 39  PA_3MVE       8277 non-null   float64
 40  PA_4BRR       8277 non-null   float64
 41  PA_5MRE       8277 non-null   float64
 42  PA_6NOP       8277 non-null   float64
 43  PI_1FIR       8277 non-null   float64
 44  PI_2MBU       8277 non-null   float64
 45  PI_3DES       8277 non-null   float64
 46  IN_1CON       8277 non-null   float64
 47  IN_2NOC       8277 non-null   float64
 48  IN_3DES       8277 non-null   float64
 49  IN_4NOI       8277 non-null   float64
 50  CO_1EXC       8277 non-null   float64
 51  CO_2COM       8277 non-null   float64
 52  CO_3PER       8277 non-null   float64
 53  CO_4NOC       8277 non-null   float64
 54  AG_1ENO       8277 non-null   float64
 55  AG_2ACU       8277 non-null   float64
 56  AG_3POZ       8277 non-null   float64
 57  AG_4COM       8277 non-null   float64
 58  AG_5HID       8277 non-null   float64
 59  AG_6LLU       8277 non-null   float64
 60  NCUA          8277 non-null   float64
 61  NDOR          8277 non-null   float64
dtypes: float64(54), geometry(1), object(7)
memory usage: 3.9+ MB
None

Tipo de objeto: <class 'geopandas.geodataframe.GeoDataFrame'>
CRS (sistema de coordenadas): EPSG:4326

In [42]:
# Guardar el geodataframe como shapefile
mnz_ris_miv_join.to_file('/mnt/d/minsalud/si_risaralda/vector/mnz_ris_miv_join.shp', driver='ESRI Shapefile')
mnz_ris_miv_join = gpd.read_file("/mnt/d/minsalud/si_risaralda/vector/mnz_ris_miv_join.shp")
mnz_ris_miv_join.head()

/tmp/ipykernel_8412/2933719048.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  mnz_ris_miv_join.to_file('/mnt/d/minsalud/si_risaralda/vector/mnz_ris_miv_join.shp', driver='ESRI Shapefile')
/home/larro/miniconda3/envs/epigeo/lib/python3.10/site-packages/pyogrio/raw.py:723: RuntimeWarning: Normalized/laundered field name: 'COD_DANE_ANM' to 'COD_DANE_1'
  ogr_write(

,COD_DANE_A,DPTO_CCDGO,MPIO_CDPMP,CLAS_CCDGO,DENSIDAD,TP9_1_USO,TP9_2_USO,TP9_3_USO,TP9_4_USO,TVIVIENDA,...,CO_4NOC,AG_1ENO,AG_2ACU,AG_3POZ,AG_4COM,AG_5HID,AG_6LLU,NCUA,NDOR,geometry
0,6600110000000001010101,66,66001,1,0.003750,11.0,0.0,16.0,0.0,11.0,...,0.0,0.0,100.0,0.0,0.0,0.0,0.0,18.0,13.0,"POLYGON ((-75.7179 4.81576, -75.71794 4.81578,..."
1,6600110000000001010105,66,66001,1,0.005646,65.0,0.0,16.0,0.0,65.0,...,0.0,0.0,100.0,0.0,0.0,0.0,0.0,175.0,117.0,"POLYGON ((-75.71277 4.816, -75.71285 4.81525, ..."
2,6600110000000001010106,66,66001,1,0.005045,25.0,0.0,551.0,0.0,25.0,...,0.0,0.0,100.0,0.0,0.0,0.0,0.0,67.0,43.0,"POLYGON ((-75.7142 4.81494, -75.71416 4.81492,..."
3,6600110000000001010109,66,66001,1,0.005223,9.0,0.0,24.0,0.0,9.0,...,0.0,0.0,100.0,0.0,0.0,0.0,0.0,14.0,10.0,"POLYGON ((-75.71522 4.81508, -75.71519 4.81507..."
4,6600110000000001010110,66,66001,1,0.029689,32.0,0.0,8.0,0.0,32.0,...,0.0,0.0,100.0,0.0,0.0,0.0,0.0,104.0,76.0,"POLYGON ((-75.71478 4.81533, -75.71479 4.81529..."

In [43]:
# Calcular porcentajes de servicios públicos
mnz_ris_miv_join['PCT_ENERGIA'] = (mnz_ris_miv_join['TP19_EE_1'] / mnz_ris_miv_join['TVIVIENDA'] * 100).round(2)
mnz_ris_miv_join['PCT_ACUEDUCTO'] = (mnz_ris_miv_join['TP19_ACU_1'] / mnz_ris_miv_join['TVIVIENDA'] * 100).round(2)
mnz_ris_miv_join['PCT_ALCANTARILLADO'] = (mnz_ris_miv_join['TP19_ALC_1'] / mnz_ris_miv_join['TVIVIENDA'] * 100).round(2)
mnz_ris_miv_join['PCT_GAS'] = (mnz_ris_miv_join['TP19_GAS_1'] / mnz_ris_miv_join['TVIVIENDA'] * 100).round(2)
mnz_ris_miv_join['PCT_BASURAS'] = (mnz_ris_miv_join['TP19_RECB1'] / mnz_ris_miv_join['TVIVIENDA'] * 100).round(2)

# Calcular hacinamiento (personas por dormitorio)
mnz_ris_miv_join['HACIN'] = (mnz_ris_miv_join['TP27_PERSO'] / mnz_ris_miv_join['NDOR']).round(2)

# Verificar resultados
mnz_ris_miv_join[['PCT_ENERGIA', 'PCT_ACUEDUCTO', 'PCT_ALCANTARILLADO', 'PCT_GAS', 'PCT_BASURAS', 'HACIN']].head()

   PCT_ENERGIA  PCT_ACUEDUCTO  PCT_ALCANTARILLADO  PCT_GAS  PCT_BASURAS  HACIN
0        54.55          54.55               54.55    18.18        54.55   1.15
1        78.46          78.46               78.46    76.92        78.46   1.27
2        92.00          92.00               92.00    84.00        92.00   1.23
3        55.56          55.56               55.56    55.56        55.56   1.50
4        81.25          81.25               81.25    68.75        81.25   1.12

In [44]:
# Columnas a conservar
columnas_conservar = [
    'COD_DANE_A', 'DPTO_CCDGO', 'MPIO_CDPMP', 'CLAS_CCDGO', 'DENSIDAD',
    'TP9_1_USO', 'TP9_2_USO', 'TP9_3_USO', 'TP9_4_USO', 'TVIVIENDA',
    'TP14_1_TIP', 'TP14_2_TIP', 'TP16_HOG', 'PCT_ENERGIA', 'PCT_ACUEDUCTO',
    'PCT_ALCANTARILLADO', 'PCT_GAS', 'PCT_BASURAS', 'PA_1FIR', 'PA_2MBU',
    'PA_3MVE', 'PA_4BRR', 'PA_5MRE', 'PA_6NOP', 'PI_1FIR', 'PI_2MBU',
    'PI_3DES', 'IN_1CON', 'IN_2NOC', 'IN_3DES', 'IN_4NOI', 'CO_1EXC',
    'CO_2COM', 'CO_3PER', 'CO_4NOC', 'AG_1ENO', 'AG_2ACU', 'AG_3POZ',
    'AG_4COM', 'AG_5HID', 'AG_6LLU', 'NCUA', 'NDOR', 'HACIN', 'TP27_PERSO',
    'TP34_1_EDA', 'TP34_2_EDA', 'TP34_3_EDA', 'TP34_4_EDA', 'TP34_5_EDA',
    'TP34_6_EDA', 'TP34_7_EDA', 'TP34_8_EDA', 'TP34_9_EDA', 'NMB_LC_CM',
    'TP_LC_CM', 'geometry'
]

# Filtrar solo las columnas que existen
columnas_existentes = [col for col in columnas_conservar if col in mnz_ris_miv_join.columns]

# Conservar solo estas columnas
mnz_ris_miv_join = mnz_ris_miv_join[columnas_existentes]

print(f"Columnas conservadas: {len(mnz_ris_miv_join.columns)}")
mnz_ris_miv_join.head()

Columnas conservadas: 57

,COD_DANE_A,DPTO_CCDGO,MPIO_CDPMP,CLAS_CCDGO,DENSIDAD,TP9_1_USO,TP9_2_USO,TP9_3_USO,TP9_4_USO,TVIVIENDA,...,TP34_3_EDA,TP34_4_EDA,TP34_5_EDA,TP34_6_EDA,TP34_7_EDA,TP34_8_EDA,TP34_9_EDA,NMB_LC_CM,TP_LC_CM,geometry
0,6600110000000001010101,66,66001,1,0.003750,11.0,0.0,16.0,0.0,11.0,...,6.0,2.0,3.0,2.0,2.0,0.0,0.0,CENTRO,Comuna,"POLYGON ((-75.7179 4.81576, -75.71794 4.81578,..."
1,6600110000000001010105,66,66001,1,0.005646,65.0,0.0,16.0,0.0,65.0,...,25.0,13.0,24.0,16.0,19.0,8.0,4.0,CENTRO,Comuna,"POLYGON ((-75.71277 4.816, -75.71285 4.81525, ..."
2,6600110000000001010106,66,66001,1,0.005045,25.0,0.0,551.0,0.0,25.0,...,9.0,4.0,8.0,6.0,10.0,7.0,0.0,CENTRO,Comuna,"POLYGON ((-75.7142 4.81494, -75.71416 4.81492,..."
3,6600110000000001010109,66,66001,1,0.005223,9.0,0.0,24.0,0.0,9.0,...,2.0,3.0,2.0,3.0,1.0,0.0,0.0,CENTRO,Comuna,"POLYGON ((-75.71522 4.81508, -75.71519 4.81507..."
4,6600110000000001010110,66,66001,1,0.029689,32.0,0.0,8.0,0.0,32.0,...,12.0,10.0,9.0,19.0,7.0,6.0,3.0,CENTRO,Comuna,"POLYGON ((-75.71478 4.81533, -75.71479 4.81529..."

In [45]:
# Guardar el geodataframe como shapefile
mnz_ris_miv_clean = mnz_ris_miv_join.copy()
mnz_ris_miv_clean.to_file('/mnt/d/minsalud/si_risaralda/vector/mnz_ris_miv_clean.shp', driver='ESRI Shapefile')

/tmp/ipykernel_8412/3091600410.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  mnz_ris_miv_clean.to_file('/mnt/d/minsalud/si_risaralda/vector/mnz_ris_miv_clean.shp', driver='ESRI Shapefile')
/home/larro/miniconda3/envs/epigeo/lib/python3.10/site-packages/pyogrio/raw.py:723: RuntimeWarning: Normalized/laundered field name: 'PCT_ENERGIA' to 'PCT_ENERGI'
  ogr_write(
/home/larro/miniconda3/envs/epigeo/lib/python3.10/site-packages/pyogrio/raw.py:723: RuntimeWarning: Normalized/laundered field name: 'PCT_ACUEDUCTO' to 'PCT_ACUEDU'
  ogr_write(
/home/larro/miniconda3/envs/epigeo/lib/python3.10/site-packages/pyogrio/raw.py:723: RuntimeWarning: Normalized/laundered field name: 'PCT_ALCANTARILLADO' to 'PCT_ALCANT'
  ogr_write(
/home/larro/miniconda3/envs/epigeo/lib/python3.10/site-packages/pyogrio/raw.py:723: RuntimeWarning: Normalized/laundered field name: 'PCT_BASURAS' to 'PCT_BASURA'
  ogr_write(